@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor-primary: #af001d;
    --cor-primary-hover:#d80024;
    --cor-secundary: #f5f5f5;
    --cor-third:rgba(0, 0, 0, 0.534);

    --cor-backg: #202124;
    --cor-main: #292A2D;

    --cor-text: black;
    --font-text: arial, sans-serif;
    --font-title: "Orbitron", sans-serif;
}

/* Default tags */

p, li{
    text-align: justify;
    font-family: var(--font-text);
    color: var(--cor-secundary);
}

p{
    line-height: 24pt;
}

ul, ol{
    list-style-position: inside;
}

hr{
    width: 80%;
    margin: 20px auto;
}

html{
    scrollbar-gutter: stable;
}

/**********************************************************************************/
/*------------------------------------ BODY --------------------------------------*/ 
/**********************************************************************************/

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--cor-backg);
}

/**********************************************************************************/
/*----------------------------------- HEADER -------------------------------------*/ 
/**********************************************************************************/
header{
    height: 100px;
    width: 100%;
    background-color: var(--cor-third);
    outline: 1px solid gray;
}

header h1{
    font-family: var(--font-title);
    color: var(--cor-secundary);
    text-align: center;
    padding: 30px 0px;
}

header img{
    position: absolute;
    left: 20px;
    top: 25px;
    width: 200px;
}

/**********************************************************************************/
/*------------------------------------ NAV ---------------------------------------*/ 
/**********************************************************************************/

nav{
    background-color: var(--cor-primary);
    outline: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a{
    font-family: var(--font-title);
    color: var(--cor-secundary);
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    transition: background-color .3s ease;
}

nav a:hover{
    background-color: var(--cor-primary-hover);
    outline: 1px solid gray;
}

nav ul{
    display: flex;
}

nav li{
    list-style-type: none;
    margin-left: 10px;
}

/**********************************************************************************/
/*------------------------------------ MAIN --------------------------------------*/ 
/**********************************************************************************/

main{
    flex: 1;
    animation: fadeIn .7s ease-in-out;
    background-color: var(--cor-main);
    max-width: 1000px;
    width: calc(100% - 20px);
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    outline: 1px solid gray;
}

/**********************************************************************************/
/*--------------------------------- ARTICLE --------------------------------------*/ 
/**********************************************************************************/

article h1{
    font-family: var(--font-title);
    color: var(--cor-secundary);
    background-image: linear-gradient(to right, var(--cor-primary),  transparent);
    padding-left: 5px;
    margin: 0px 0px 20px 0px;
}

article h2{
    font-family: var(--font-title);
    color: var(--cor-secundary);
    border-left: 8px solid #af001d;
    padding-left: 10px;

}

article h3{
    font-family: var(--font-title);
    color: var(--cor-secundary);
    padding-left: 10px;
    margin-top: 20px;
}

article h3::before{
    content: "📌 ";
}

article h4{
    font-family: var(--font-text);
    color: var(--cor-secundary);
    padding-left: 10px;
    margin-top: 20px;
}

article .listWithH4{
    list-style-type: none;
}

article .listWithH4 li{
    margin: 5px 20px;
}

article ul, ol{
    padding: 20px 20px 0px 20px;
}

article ul li, ol li{
    line-height: 24pt;
}

article ul ul {
    margin-bottom: 10px;
}

article .downloadList{
    outline: 1px solid gray;
    border-radius: 10px;
    padding: 10px
}

article .downloadList li{
    list-style-type: none;
    margin: 15px 0px;
    margin-left: 10px;
}

article .downloadList li a{
    text-decoration: none;
    color: aqua;
    outline: 1px solid gray;
    width: max-content;
    border-radius: 10px;
    background-color: var(--cor-backg);padding: 5px 10px 5px 4px;
}

article .downloadList p{
    margin: 0px 0px 10px 0px;
    font-family: var(--font-text);
}

article .downloadList li a::before{
    content: "💿 ";
}

article .linkPdfAula{
    background-color: var(--cor-primary);
    text-decoration: none;
    color: var(--cor-secundary);
    padding: 8px;
    border-radius: 10px;
}

article .linkPdfAula::before{
    content: "📘 ";
}

/* -- iframe video -- */

article .iframeVideo{
    position: relative;
    padding-bottom: 58%;
    margin: 20px 0px 40px 20px;
}

article .iframeVideo > iframe{
    position: absolute;
    top: 0%;  
    left: 0%;
    width: 100%;
    height: 99%;
    border-radius: 10px 10px 0px 10px;
    outline: 1px solid gray;
}

.buttonIframeExpansion{
    font-family: var(--font-text);
    color: var(--cor-secundary);
    text-decoration: none;
    background-color: var(--cor-primary);
    padding: 5px 10px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid gray;
    position: absolute;
    bottom: -25px;
    right: -1px;
}

.buttonIframeExpansion:active{
    transform: scale(.97); 
    background-color: var(--cor-primary-hover);
    transition:  transform .1s ease;
}

/**********************************************************************************/
/*----------------------------------- FOOTER -------------------------------------*/ 
/**********************************************************************************/

footer{
    background-color: #af001d;
    height: 70px;
    font-family: var(--font-title);
    color: var(--cor-secundary);
}

footer p{
    text-align: center;
    padding: 20px 0px;
}

/**********************************************************************************/
/*-------------------------------- ANIMATIONS ------------------------------------*/ 
/**********************************************************************************/

@keyframes fadeIn{
    from{ opacity: 0; transform: translateY(-20px);}
    to { opacity: 1; transform: translateY(0);}
}